<div>
  <app-grid-container>
    <ng-container card >
      <div *ngFor="let character of characters$ | async">
        <app-card [imgSrc]="character.image">
          <ng-container card-head>
            {{character?.name}}
            <div class="badge badge-accent">{{character?.status}}</div>
          </ng-container>
          <ng-container card-body>
            <p>
              <span class="uppercase font-semibold">Location: </span>{{character?.location?.name}}<br> 
              <span class="uppercase font-semibold">Origin: </span>{{character?.origin?.name}}<br> 
              <span class="uppercase font-semibold">Type: </span>{{character?.type}}<br> 
              <span class="uppercase font-semibold">Created: </span>{{character?.created | date}}
            </p> 
          </ng-container>
          <ng-container card-footer>
            <div class="badge badge-primary">{{character?.gender}}</div>
            <div class="badge badge-secondary">{{character?.species}}</div>
          </ng-container>
        </app-card>
      </div>
    </ng-container>
  </app-grid-container>
</div>